*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

HW01/.idea/
HW01/out/
HW02/.idea/
HW02/out/
HW03/.idea/
HW03/out/
HW04/.idea/
HW04/out/
HW05/.idea/
HW05/out/
HW06/.idea/
HW06/out/
HW07/.idea/
HW07/out/
HW08/.idea/
HW08/out/
HW09/.idea/
HW10/.idea/
HW12/.idea/
HW13/.idea/
HW14/.idea/
HW15/.idea/
HW17/.idea/
HW17/target/
HW17.1/.idea/
HW17.1/target/
HW17.1/salary-report/target/
HW17.1/tractor/target/
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
